.accio {
    width: 150px;
    height: 150px;
    background-color: #000000;
}

/* Styling the p element using its class */
.hello-accio {
    color: #ffffff;
    margin-left: 32px;
    padding: 10px;
}
/* Your CSS Code here. */